
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Common */
body{font-family: 'Noto Sans KR', sans-serif; overflow-x: hidden; background: #000;}
section{background-repeat: no-repeat; background-position: center; background-size: cover;}


/* Main */
section.main {width: 100%; height: 100vh; background-image: url('../img/bg/Main.png');}
section.main > h1 {position: absolute; color: #fff; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 25px; letter-spacing: 50px;}
section.main > div.scroll_icon{position: absolute; display: inline-block; width: 25px; height: 50px; border: 1px solid #fff; border-radius: 15px;  left: 50%; transform: translateX(-50%); bottom: 50px;}
section.main > div.scroll_icon > span{
    position: absolute; display: inline-block; width: 5px; height: 5px; background: #3ff; border-radius: 50%; left: 50%; 
    transform: translateX(-50%); animation: dot_ani 1.5s linear infinite;
}
@keyframes dot_ani{
    0%{top: 20%; opacity: 0;}
    100%{top: 60%; opacity: 1;}
}


/* Count */
section.count{height: 760px; background-image: url('../img/bg/bg_1.png'); color: #fff;}
section.count > div{width: 1200px; height: 100%; margin: 0 auto;}
section.count > div > ul{width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-between;}
section.count > div > ul > li{text-align: center; width: 300px;}
section.count > div > ul > li > h2{font-size: 70px; margin-bottom: 35px;}
section.count > div > ul > li > p{font-size: 20px;}


/* Story */
section.story{height: 650px; background-image: url('../img/bg/bg_2.png');}
section.story > div{width: 1200px; margin: 0 auto; position: relative; text-align: right;}
section.story > div > img{width: 390px; height: 530px; position: absolute; left: 0; top: 0;}
section.story > div > div{color: #fff; margin: 250px 0 190px; display: inline-block; text-align: left;}
section.story > div > div > p{font-size: 20px; line-height: 30px;}
section.story > div > div > a{color: #fff; font-size: 16px; text-decoration: none; display: inline-block;  width: 180px; height: 60px; border: 1px solid #3ff; border-radius: 20px; text-align: center; line-height: 60px; margin-top: 30px; transition: 500ms; overflow: hidden; position: relative; z-index: 1;}
section.story > div > div > a::after{position: absolute; width: 0%; height: 100%; background: #3ff; content: ""; left: -35%; top: 0; transition: 400ms; transform: skew(50deg); z-index: -1;}
section.story > div > div > a:hover{color: #000;}
section.story > div > div > a:hover::after{height: 100%; width: 200%;}



/* About */
section.about{height: 935px; background-image: url('../img/bg/bg_3.png');  position: relative;}
section.about > div{width: 1200px; margin: 0 auto; padding-top: 210px; display: flex; justify-content: space-between;}
section.about > div > div.txt_wrap{color: #fff;}
section.about > div > div > span{font-size: 17px;}
section.about > div > div > h2{font-size: 40px; margin: 20px 0 30px;}
section.about > div > div > p{font-size: 20px; line-height: 30px;}
section.about > div > img{box-shadow: 5px 5px 50px #030923;}
section.about > div > img.introduce_front_img{width: 600px; position: absolute; bottom: 150px; right: 30%;}
section.about > div > img.introduce_back_img{width: 600px; }


/* Story Line */
section.story_line{width: 100%; display: inline-block; background: #000; position: relative;}
section.story_line > div{ position: relative;  padding: 230px 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
section.story_line > div > ol{display: flex; align-items: center; justify-content: center; flex-direction: column;}
section.story_line > div > ol > li{text-align: center; font-size: 50px; margin-bottom: 60px;  -webkit-text-stroke: 1px #fff; color: transparent; cursor: pointer; display: inline-block; transition: 500ms; z-index: 2;}
section.story_line > div > ol > li > img{position: absolute; opacity: 0; transition: 500ms; transform: translateY(20%); pointer-events: none;}
section.story_line > div > ol > li:hover{color: #3ff;}
section.story_line > div > ol > li:hover > img{ opacity: 1;  transform: translateY(0);}
section.story_line > div > ol > li.earth_story > img:first-child{width: 20%; top: 20vh; left: 10%;}
section.story_line > div > ol > li.earth_story > img:last-child{width: 20%; top: 40vh; right: 15%;}
section.story_line > div > ol > li.miller_story > img:nth-child(1){width: 25%; top: 10vh; left: 5%;}
section.story_line > div > ol > li.miller_story > img:nth-child(2){width: 20%; top: 30vh; right: 15%;}
section.story_line > div > ol > li.miller_story > img:nth-child(3){width: 20%; top: 60vh; left: 15%;}
section.story_line > div > ol > li.mann_story > img:nth-child(1){width: 15%; top: 20vh; left: 15%;}
section.story_line > div > ol > li.mann_story > img:nth-child(2){width: 10%; top: 10vh; right: 25%;}
section.story_line > div > ol > li.mann_story > img:nth-child(3){width: 15%; top: 50vh; right: 15%;}
section.story_line > div > ol > li.fifth_story > img:nth-child(1){width: 20%; top: 40vh; left: 10%;}
section.story_line > div > ol > li.fifth_story > img:nth-child(2){width: 30%; top: 10vh; right: 5%;}
section.story_line > div > ol > li.cooper_story > img:nth-child(1){width: 25%; top: 10vh; left: 10%;}
section.story_line > div > ol > li.cooper_story > img:nth-child(2){width: 30%; top: 40vh; right: 5%;}

/* Steel Cut */
section.steel_cut{width: 100vw; height: 300vh;overflow: hidden; background: #000; position: relative;}
section.steel_cut > div{width: 100vw; height: 100vh;position: absolute; top: 0; left: 0;}
section.steel_cut > div > div{display: inline-block; transform: translate(-50%, -50%); transform-origin: 50% 50%; background-size: cover; background-repeat: no-repeat; position: absolute; background-position: center;}
section.steel_cut > div > div.cut_main_img{width: 25vw; height: 18vw; top: 28vw; left: 50vw; background-image: url("../img/steelCut/main_cut.jpeg");}
section.steel_cut > div > div.cut_top_img{width: 20vw; height: 10vw; top: 12vw; left: 52.5vw; background-image: url("../img/steelCut/top.jpg");  transform: translate3d(-50%, -50%, -150px); transform-style: preserve-3d}
section.steel_cut > div > div.cut_left_up_img{width: 10vw; height: 5vw; top: 21.5vw; left: 30vw; background-image: url("../img/steelCut/left.jpg");}
section.steel_cut > div > div.cut_left_down_img{width: 20vw; height: 10vw; top: 32vw; left: 25vw; background-image: url("../img/steelCut/left_2.jpg");}
section.steel_cut > div > div.cut_bottom_left_img{width: 15vw; height: 10vw; top: 44vw; left: 45vw; background-image: url("../img/steelCut/bottom.jpg");}
section.steel_cut > div > div.cut_bottom_right_img{width: 8vw; height: 8vw; top: 43vw; left: 58.5vw; background-image: url("../img/steelCut/bottom_2.jpg");}
section.steel_cut > div > div.cut_right_up_img{width: 20vw; height: 9vw; top: 23.5vw; left: 75vw; background-image: url("../img/steelCut/right.jpg");}
section.steel_cut > div > div.cut_right_down_img{width: 10vw; height: 7vw; top: 33.5vw; left: 70vw; background-image: url("../img/steelCut/right_2.jpg");}

/* Change Txt */
section.change_txt{width: 100%; height: 150vh; background: #000;text-align: center;}
section.change_txt > p{color: #fff; font-size: 40px; position: sticky; top: 50vh; display: inline-block;padding-left: 70px; margin-bottom: 300px;}
section.change_txt > p > span{position: absolute; left: 0; color: #fff; transition: 600ms; transform: rotateX(0deg); transform-origin: 50% 0; transform-style: preserve-3d;}
section.change_txt > p > span.active_3D_txt{transform: rotateX(90deg)}
section.change_txt > p > span::after{color: #3ff; content: attr(data-text); position: absolute; transform-origin: 50% 0; top: 100%; left: 0;width: 100%; height: 100%;transform: rotateX(-90deg);}


section.visual_area{}
section.visual_area > div{background: radial-gradient( #283439 0%, #000000 99%);}
